
@{
    ViewData["Title"] = "Dashboard";
}

@Html.Partial("_Navigator")
<div class="main-content">
    <h2>Dashboard</h2>

    <div>
        <div class="dashbox"><h3>Jobs</h3></div>
        <div class="dashbox"><h3>Runs</h3></div>
    </div>
</div>