<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChannelAdam.Soap" version="2.0.3" targetFramework="net461" />
  <package id="CompareNETObjects" version="4.57.0" targetFramework="net461" />
  <package id="Droid.Database" version="1.0.13" targetFramework="net461" />
  <package id="FubarDev.NDbUnit.Core" version="1.6.9.11" targetFramework="net461" />
  <package id="FubarDev.NDbUnit.SqlServerCe" version="1.6.9.11" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net461" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net461" />
  <package id="Npgsql" version="4.0.4" targetFramework="net461" />
  <package id="officeribbon" version="3.5.8.4" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Tools.Utilities" version="1.0.23" targetFramework="net461" />
  <package id="Tools.Utilities.UI" version="1.0.23" targetFramework="net461" />
</packages>